body { margin: 0; padding: 0; }
#map { height: 100vh; width: 100vw; }
.leaflet-popup-content-wrapper {
    border-radius: 5px;
}
/* Adicione esta regra ao final do seu style.css */
.leaflet-routing-geocoders {
    display: none !important;
}
